<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= head.title %>
</title>
<meta name="title" content="<%= head.title %>">
<meta name="author" content="<%= head.author %>">
<meta name="og:title" content="<%= head.title %>">
<meta name="og:description" content="<%= head.description %>">
<meta name="description" content="<%= head.description %>">
<meta name="keywords" content="<%= head.keywords %>">
<link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">

<!-- Lazy loading CSS -->
<link id="lazy-css" rel="stylesheet" href="/public/styles/style.min.css" media="print" onload="this.media='all'">
<noscript>
    <link rel="stylesheet" href="/public/styles/style.min.css">
</noscript>

<link rel="stylesheet" href="/public/dist/css/widget1.bundle.css">

<!-- Twitter -->
<!-- Facebook -->
<!-- Google -->

<link rel="canonical" href="http://localhost:3000/">

<style>
    body {
        padding-top: 50px;
    }
</style>

<!-- JavaScript ile lazy loading -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var lazyStyle = document.getElementById('lazy-css');
        lazyStyle.removeAttribute('onload');
        lazyStyle.media = 'all';
    });
</script>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/public/service-worker.js')
            .then((registration) => {
                console.log('Service Worker registered with scope:', registration.scope);
            })
            .catch((error) => {
                console.error('Service Worker registration failed:', error);
            });
    }
</script>