<!-- Dinamik olarak widget'ları ekle -->
<% widgets.forEach(widget=> { %>
    <%- include(widget.route + '/index' , { navigationData: data }); %>
        <% }); %>

            <section class="hero">
                <div class="hero__container">
                    <div class="hero__container__content">
                        <span class="hero__container__content__discount">
                            GET UO TO %40 OFF
                        </span>
                        <h2 class="hero__container__content__title">
                            Don't Miss This Opportunity
                        </h2>
                        <p class="hero__container__content__description">
                            Online shopping free home delivery over $100
                        </p>
                        <a href="#" class="btn">
                            <span class="border-1"></span>
                            <span class="border-2"></span>
                            SHOP NOW
                        </a>
                    </div>
                    <div class="hero__container__img">
                        <picture>
                            <img src="/public/images/model.png" alt="Chris standing up holding his daughter Elva" />
                        </picture>
                    </div>
                </div>
            </section>

            <section class="category">
                <div class="category__container">
                    <div class="category__container__type">
                        <div class="category__container__type__overlay">
                        </div>
                        <a href="#" class="btn">
                            <span class="border-1"></span>
                            <span class="border-2"></span>
                            SHOP NOW
                        </a>
                    </div>
                    <div class="category__container__type">
                        <div class="category__container__type__overlay"></div>
                        <a href="#" class="btn">
                            <span class="border-1"></span>
                            <span class="border-2"></span>
                            SHOP NOW
                        </a>
                    </div>
                    <div class="category__container__type">
                        <div class="category__container__type__overlay"></div>
                        <a href="#" class="btn">
                            <span class="border-1"></span>
                            <span class="border-2"></span>
                            SHOP NOW
                        </a>
                    </div>
                    <div class="category__container__type">
                        <div class="category__container__type__overlay"></div>
                        <a href="#" class="btn">
                            <span class="border-1"></span>
                            <span class="border-2"></span>
                            SHOP NOW
                        </a>
                    </div>
                    <div class="category__container__type">
                        <div class="category__container__type__overlay"></div>
                        <a href="#" class="btn">
                            <span class="border-1"></span>
                            <span class="border-2"></span>
                            SHOP NOW
                        </a>
                    </div>
                </div>
            </section>

            <section class="featured-product">
                <h2>Featured Product</h2>

            </section>

            <main class="container">
                <div class="jumbotron">
                    <h1>Top Mascots</h1>
                    <p>
                        <%= tagline %>
                    </p>
                    <ul>
                        <% mascots.forEach(function(mascot) { %>
                            <li>
                                <strong>
                                    <%= mascot.name %>
                                </strong>
                                representing <%= mascot.organization %>, born <%= mascot.birth_year %>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </main>