<!DOCTYPE html>
<html lang="tr">
    <head>
        <%- include('../partials/head'); %>
    </head>
<body class="home-page">

    <div class="wrapper">
        <%- include('../partials/header.ejs') %>
        <main><%- body %></main>
        <%- include('../partials/footer.ejs') %>
    </div>

    <script src="/templates/default/views/components/button/index.js" type="text/html"></script>

    <% scriptFiles.forEach(scriptFile => { %>
        <script async src="<%= scriptFile %>" defer></script>
    <% }); %>
</body>
</html>