<!-- Dinamik olarak widget'ları ekle -->
<% widgets.forEach(widget=> { %>
    <%- include(widget.route + '/index' , { navigationData: data }); %>
        <% }); %>

            <main>
                <div class="jumbotron">
                    <h1>Top Mascots</h1>
                    <p>
                        <%= tagline %>
                    </p>
                    <ul>
                        <% mascots.forEach(function(mascot) { %>
                            <li>
                                <strong>
                                    <%= mascot.name %>
                                </strong>
                                representing <%= mascot.organization %>, born <%= mascot.birth_year %>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </main>