<!-- Dinamik olarak widget'ları ekle -->
<% widgets.forEach(widget=> { %>
    <%- include(widget.route + '/index' , { navigationData: data }); %>
        <% }); %>

        <section class="hero">
            <div class="hero__wrapper">
                <h2></h2>
                <p></p>
                <button></button>
                <base-button></base-button>
            </div>
        </section>

            <main class="container">
                <div class="jumbotron">
                    <h1>Top Mascots</h1>
                    <p>
                        <%= tagline %>
                    </p>
                    <ul>
                        <% mascots.forEach(function(mascot) { %>
                            <li>
                                <strong>
                                    <%= mascot.name %>
                                </strong>
                                representing <%= mascot.organization %>, born <%= mascot.birth_year %>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </main>